#background {
  background-image: url("/img/Civilopedia/civilopediaE.bmp");
}

#header {
  background-image: url('/img/Civilopedia/bar-green.bmp');
  color: rgb(0, 132, 0);
}

p#text {
  height: 240px !important;
}

#requires {
  top: 330px;
}

#advancetext {
  top: 358px;
}

#resourcetext {
  top: 450px;
}

#box {
  top: 257px;
  height: 60px;
}

#advance {
  top: 375px;
  height: 60px;
}

#resources {
  top: 467px;
  height: 60px;
}
