body {
  background-color: #F9F9FA;
  background: linear-gradient(#F9F9FA, #bbb);
  height: auto;
  font-family: Arial, sans-serif;
  display: flex;
  margin: 0px;
  padding: 0px;
}

nav {
  width: 100px;
  margin: 0px 10px 0px 0px;
  padding: 20px 0px 10px 10px;
  height: 800px;
  background: linear-gradient(to right, rgba(180, 180, 180, 0.75), rgba(255, 255, 255, 0));
}

main {
  line-height: 1.4em;
  flex-grow: 1;
  padding-top: 10px;
  margin-right: 10px;
}

nav a, fieldset a {
  display: table-row;
}

fieldset {
  background-color: #F9F9FA;
  margin-bottom: 5px;
}

legend {
  text-shadow: 1px 1px 1px #999;
  font-weight: bold;
}
