* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(#f7f7ed, black);
}

body {
  display: flex;
  margin-left: 0px;
  padding-left: 0px;
  font-family: Arial, sans-serif;
}

nav {
  width: 100px;
  margin: 10px 10px;
  height: 800px;
}

nav a {
  display: block;
}

main {
  flex-grow: 1;
}

#civilopedia {
  width: 677px;
  height: 734px;
  margin: 10px auto;
  position: relative;
}

#civilopedia > div {
  position: absolute;
  background-repeat: no-repeat;
}

#civilopedia > #background {
  width: 100%;
  height: 100%;
}

#civilopedia > #title {
  top: 18px;
  left: 3px;
  width: 216px;
  height: 31px;
  font-size: 18pt;
  display: flex;
  align-items: center;
  padding-left: 57px;
  color: rgba(0, 0, 0, 0.8);
}

#civilopedia > #header {
  top: 60px;
  left: 26px;
  width: 496px;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 14pt;
  padding-left: 25px;
}

#civilopedia > #bigimg {
  top: 48px;
  left: 522px;
  width: 130px;
  height: 130px;
  border: 1px solid black;
}

#civilopedia > #content {
  top: 102px;
  left: 27px;
  width: 430px;
  height: 563px;
  font-size: 13px;
  overflow: hidden;
  margin: 28px 16px 6px 26px;
  overflow-y: auto;
}

p {
  margin: 0px;
}

p#text {
  white-space: pre-wrap;
  padding-right: 10px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

a.link {
  width: 100%;
  height: 36px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  font-style: none;
  text-decoration: none;
  color: black;
}

a.link:hover {
  cursor: pointer;
  color: #b55a52;
}

a.link > img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

a.bottomlink:hover {
  cursor: pointer;
  color: #b55a52;
}

a.bottomlink > img {
  width: 36px;
  height: 36px;
}

a.bottomlink {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

#menu {
  width: 129px;
  height: 326px;
  top: 317px;
  left: 522px;
}

#uparrow, #leftarrow, #rightarrow, #backarrow, #forwardarrow {
  position: absolute;
  background-image: url('/img/Civilopedia/arrows.png');
  margin: 0px;
}

#backarrow, #forwardarrow {
  width: 15px;
  height: 24px;
  top: 23px;
}

#backarrow {
  left: 240px;
  background-position: -1px -1px;
}

#forwardarrow {
  left: 268px;
  background-position: -17px -1px;
}

#uparrow {
  width: 24px;
  height: 15px;
  top: 16px;
  left: 54px;
  background-position: -1px -26px;
}

#uparrow:hover {
  background-position: -26px -26px;
  cursor: pointer;
}

#leftarrow, #rightarrow {
  width: 15px;
  height: 24px;
  top: 31px;
}

#leftarrow {
  left: 33px;
  background-position: -1px -1px;
}

#leftarrow:hover, #backarrow:hover {
  background-position: -33px -1px;
  cursor: pointer;
}

#rightarrow {
  left: 84px;
  background-position: -17px -1px;
}

#rightarrow:hover, #forwardarrow:hover {
  background-position: -49px -1px;
  cursor: pointer;
}

#descbox {
  position: absolute;
  background-image: url('/img/Civilopedia/descbox.bmp');
  left: 534px;
  top: 221px;
  width: 102px;
  height: 17px;
  background-position: -1px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-decoration: none;
  color: black;
}

#descbox:hover {
  cursor: pointer;
  background-position: -104px 0px;
}

div#letters {
  width: 80px;
  height: 220px;
  left: 26px;
  top: 78px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

div#letters > a {
  width: 25%;
  text-align: center;
  font-size: 13px;
  color: black;
  text-decoration: none;
}

div#letters > a:hover {
  color: #b55a52;
}

.shield {
  background-position: -410px -10px;
}

.wealth {
  background-position: -440px -10px;
}

.food {
  background-position: -472px -10px;
}

.culture {
  background-position: -564px -8px;
}

.shield, .wealth, .food, .culture {
  width: 20px;
  height: 16px;
  background-image: url("/img/Civilopedia/cityicons.png");
}

.bigtext {
  position: absolute;
  font-size: 14px;
}

.smalltext {
  position: absolute;
  font-size: 13px;
}

.cover {
  position: absolute;
  z-index: 11037;
  left: 22px;
}

.container {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: auto;
  flex-wrap: nowrap;
  text-align: center;
}

.techcon {
  position: absolute;
  width: 70px;
  height: 261px;
  top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#leftbox {
  left: 60px;
}

#rightbox {
  left: 300px;
}

.techcon > a {
  white-space: nowrap;
}
