* {
  box-sizing: border-box;
}

html {
  background-color: black;
}

#civilopedia {
  width: 677px;
  height: 734px;
  margin: 30px auto;
  position: relative;
  font-family: sans-serif;
}

#civilopedia > div {
  position: absolute;
  background-repeat: no-repeat;
}

#civilopedia > #background {
  width: 100%;
  height: 100%;
}

#civilopedia > #title {
  top: 18px;
  left: 3px;
  width: 216px;
  height: 31px;
  font-size: 18pt;
  display: flex;
  align-items: center;
  padding-left: 57px;
  color: rgba(0, 0, 0, 0.8);
}

#civilopedia > #header {
  top: 60px;
  left: 26px;
  width: 496px;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 14pt;
  padding-left: 25px;
}

#civilopedia > #bigimg {
  top: 48px;
  left: 522px;
  width: 130px;
  height: 130px;
  border: 1px solid black;
}

#civilopedia > #content {
  top: 102px;
  left: 27px;
  width: 408px;
  height: 555px;
  font-size: 13px;
  overflow: hidden;
  margin: 32px 28px;
}

p {
  margin: 0px;
}

p#text {
  white-space: pre-wrap;
  padding-right: 10px;
  height: 100%;
  overflow-y: auto;
}

div.link {
  width: 100%;
  height: 32px;
  margin-bottom: 2px;
}

div.link > img {
  width: 32px;
  height: 32px;
  border: 2px solid red;
}
