* {
  box-sizing: border-box;
}

html {
  background-color: black;
}

#civilopedia {
  width: 677px;
  height: 734px;
  margin: 10px auto;
  position: relative;
  font-family: sans-serif;
}

#civilopedia > div {
  position: absolute;
  background-repeat: no-repeat;
}

#civilopedia > #background {
  width: 100%;
  height: 100%;
}

#civilopedia > #title {
  top: 18px;
  left: 3px;
  width: 216px;
  height: 31px;
  font-size: 18pt;
  display: flex;
  align-items: center;
  padding-left: 57px;
  color: rgba(0, 0, 0, 0.8);
}

#civilopedia > #header {
  top: 60px;
  left: 26px;
  width: 496px;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 14pt;
  padding-left: 25px;
}

#civilopedia > #bigimg {
  top: 48px;
  left: 522px;
  width: 130px;
  height: 130px;
  border: 1px solid black;
}

#civilopedia > #content {
  top: 102px;
  left: 27px;
  width: 430px;
  height: 563px;
  font-size: 13px;
  overflow: hidden;
  margin: 28px 16px 6px 26px;
  overflow-y: auto;
}

p {
  margin: 0px;
}

p#text {
  white-space: pre-wrap;
  padding-right: 10px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

a.link {
  width: 100%;
  height: 36px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  font-style: none;
  text-decoration: none;
  color: black;
}

a.link:hover {
  cursor: pointer;
  color: #b55a52;
}

a.link > img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

#menu {
  width: 129px;
  height: 326px;
  top: 317px;
  left: 522px;
}

#uparrow, #leftarrow, #rightarrow, #backarrow, #forwardarrow {
  position: absolute;
  background-image: url('/img/Civilopedia/arrows.png');
  margin: 0px;
}

#backarrow, #forwardarrow {
  width: 15px;
  height: 24px;
  top: 23px;
}

#backarrow {
  left: 240px;
  background-position: -1px -1px;
}

#forwardarrow {
  left: 268px;
  background-position: -17px -1px;
}

#uparrow {
  width: 24px;
  height: 15px;
  top: 16px;
  left: 54px;
  background-position: -1px -26px;
}

#uparrow:hover {
  background-position: -26px -26px;
  cursor: pointer;
}

#leftarrow, #rightarrow {
  width: 15px;
  height: 24px;
  top: 31px;
}

#leftarrow {
  left: 33px;
  background-position: -1px -1px;
}

#leftarrow:hover, #backarrow:hover {
  background-position: -33px -1px;
  cursor: pointer;
}

#rightarrow {
  left: 84px;
  background-position: -17px -1px;
}

#rightarrow:hover, #forwardarrow:hover {
  background-position: -49px -1px;
  cursor: pointer;
}

#descbox {
  position: absolute;
  background-image: url('/img/Civilopedia/descbox.bmp');
  left: 534px;
  top: 221px;
  width: 102px;
  height: 17px;
  background-position: -1px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-decoration: none;
  color: black;
}

#descbox:hover {
  cursor: pointer;
  background-position: -104px 0px;
}
