#background {
  background-image: url("/img/Civilopedia/civilopediaF.bmp");
}

#header {
  background-image: url('/img/Civilopedia/bar-purple.bmp');
  color: rgb(90, 57, 90);
}

p#text {
  height: 320px !important;
}
