figure {
  text-align: center;
  width: 200px;
  padding: 0px;
  margin: 0px;
}

dd {
  display: list-item;
}

#pediacon > a {
  float: left;
  margin: 15px 35px;
}

main img {
  border: 1px solid #555;
}

#fieldcon {
  display: flex;
}

#fieldcon > fieldset {
  height: 300px;
  overflow-y: auto;
}

#fieldcon > fieldset:first-child {
  flex-grow: 1;
}

#fieldcon > fieldset:last-child {
  width: 400px;
}

details {
  max-width: 375px;
}

details > details {
  padding-left: 20px;
}

details > *:not(details):not(summary) {
  padding-left: 20px;
}

#saves a {
  display: block;
}

td {
  padding-left: 20px;
}

#saves > div {
  overflow-y: auto;
  height: 275px;
}
