figure {
  text-align: center;
}

main figure {
  width: 200px;
}

#pediacon {
  display: flex;
}

body {
  background-color: #f7f7ed;
  background: linear-gradient(#f7f7ed, #ccc);
  height: auto;
}

main img {
  border: 1px solid #555;
}

#fieldcon {
  display: flex;
}

#fieldcon > fieldset {
  height: 300px;
  overflow-y: auto;
}

#fieldcon > fieldset:first-child {
  flex-grow: 1;
}

#fieldcon > fieldset:last-child {
  width: 400px;
}

body {
  display: flex;
  margin-left: 0px;
  padding-left: 0px;
}

nav {
  width: 100px;
  margin: 10px 10px;
  height: 800px;
}

main {
  flex-grow: 1;
}

legend {
  font-weight: bold;
}

details {
  max-width: 375px;
}

details > details {
  padding-left: 20px;
}

details > *:not(details):not(summary) {
  padding-left: 20px;
}

a {
  display: table-row;
}

figcaption a {
  display: block;
}

td {
  padding-left: 20px;
}
