figure {
  text-align: center;
  width: 200px;
}

dd {
  display: list-item;
}

#pediacon {
  display: flex;
}

main img {
  border: 1px solid #555;
}

#fieldcon {
  display: flex;
}

#fieldcon > fieldset {
  height: 300px;
  overflow-y: auto;
}

#fieldcon > fieldset:first-child {
  flex-grow: 1;
}

#fieldcon > fieldset:last-child {
  width: 400px;
}

details {
  max-width: 375px;
}

details > details {
  padding-left: 20px;
}

details > *:not(details):not(summary) {
  padding-left: 20px;
}

figcaption a, #saves a {
  display: block;
}

td {
  padding-left: 20px;
}
