#background {
  background-image: url("/img/Civilopedia/civilopediaG.bmp");
}

#header {
  background-image: url('/img/Civilopedia/bar-yellow.bmp');
  color: rgb(132, 132, 0);
}

p#text {
  height: 200px !important;
}
