#background {
  background-image: url("/img/Civilopedia/civilopediaB.bmp");
}

#header {
  background-image: url('/img/Civilopedia/bar-blue.bmp');
  color: rgb(0, 0, 132);
}

p#text {
  height: 210px !important;
}
