doctype html
html
  head
    block title
    meta(charset="ISO-8859-1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css" href="/style/base.css")
    block styles
  body
    nav
      h5(title="Civ3Complete.com") Civ3Complete
      a(href="/", title="Homepage") Homepage
      br
      a(href="/civilopedia", title="Civilization 3 Complete Civilopedia") Civ3Pedia

    main
      block main

    block scripts
