doctype html
html
  head
    title Civ Resources
    meta(charset="ISO-8859-1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css" href="/style/homepage.css")
  body
    main
      fieldset#pediacon
        legend Civilopedias
        figure(title="The Online Civilization 3 Complete Civilopedia")
          img(src="/img/civ3cover.jpg")
          figcaption
            a(href="/civilopedia") Civilization 3 Complete
        figure(title="The Online Civilization 6 Civilopedia")
          img(src="/img/civ6cover.jpg")
          figcaption Civilization 6 (WIP)
      fieldset
        legend Utilities
        a(href="/decompressor") Civilization 3 SAV/BIQ/BIX/BIC File Decompressor
        br
        a(href="/saveditor") Civilization 3 SAV file editor
      div#fieldcon
        fieldset
          legend Resources
          a(href="https://github.com/lucienmaloney/civ3civilopedia") Website Github Page
          br
          a(href="https://www.youtube.com/channel/UCyNfptl3leFF_tV4tFDkfJw") YouTube Channel
          dl
            dt Civilization 3 Complete Civilopedia Resources:
            dd
              a(href="/civ3completedataonly.json") Civilopedia JSON (Data Only)
            dd
              a(href="/civ3complete.json") Civilopedia JSON (Data + Text + Descriptions)
        fieldset
          legend Saves
